.container {
    background-color: rgb(46, 41, 41);
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

.picker {
    margin-top: 2rem;
    height: 10%;
}

.links {
    margin-left: 0rem;
}