ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    top: 0px;
    margin: 0rem;
}

li {
    margin: 20px;
    margin-left: 0rem;
    list-style-type: none;
    color: antiquewhite
}

a:hover {
    color: aquamarine;
}
